/* Tablet */

@media screen and (min-width:700px) {
    .container {
        Width: 693px;
        Height: 1653px;
        position: relative;
        overflow: hidden;

    }

    .started {
        left: 138%;
    }

    .hero-tablet {
        position: absolute;
        height: 564px;
        right: -146%;
        top: -28%;
        display: inline;
    }

    .mobile-hero {
        display: none;
    }

    .check {
        Width: 324px;
        Height: 258px;
        margin: 22px 16px -8px 3px;

    }

    .out {
        margin: 0px 0px 98px 26px;
    }

    .main {
        margin: 111px 0px 0px 6px;
    }


    .elements {
        display: grid;
        grid-template-columns: 300px 100px;
        margin: 94px 0px 0px 0px;
    }



    .block {
        width: 328px;
        margin: 29px 0px 0px 0px;
    }

    footer {
        width: 700px;
        margin: 83px 0px 0px -6px;

    }

    footer>h3 {
        transform: translate(6%, 39%);
    }

    footer>button {
        transform: translate(371%, 75%);
    }
}

/* Desktop */

@media screen and (min-width:1340px) {
    .container {
        Width: 1440px;
        Height: 1845px;

    }

    .hero-tablet {
        display: none;
    }

    .hero-desktop {
        height: 800px;
        display: inline;
        top: -36%;
        position: absolute;
        left: 220%;
    }

    .started {
        left: 302%;
        top: 5%;
        border: none;
        z-index: 1;
    }

    .started:hover {
        background: #666CA3;
        cursor: pointer;

    }

    .skilled {
        margin: 22px 0px 0px 206px
    }

    .desktop {
        margin: 143px 0px 0px 190px;
        width: 424px;
    }

    .get {
        left: 53%;
    }

    .get:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        cursor: pointer;
    }

    .block>button:hover {
        color: #FFA7C3;
        cursor: pointer;
    }

    .elements {
        grid-template-columns: 300px 300px 0px;
        margin: 94px 0px 0px 187px;

    }

    footer {
        width: 1469px;
    }

    footer>h3 {
        transform: translate(194%, 36%);
    }

    footer>button {
        transform: translate(769%, 75%);
    }

    footer>button:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
        cursor: pointer;
    }


}